* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pic {
  height: fit-content;
  width: 90vw;
  border: 2px solid black;

}

.img {
  height: 20vh;
  width: 20vw;

}

.app {
  height: fit-content;
  width: 100vw;
}